/* CSS for Index.html */

body {
	background-color: #577284;
	color: white;
	text-align: center;
	font-size: 20px;
}

h1 {
	font-size: 50px;
	text-decoration: bold;
}
hr {
	width: 60%;
}

.listunord {
	text-align: left;
}
.listord {
	text-align: left;
}
.linkbecode {
	text-decoration: underline;
	font-style: bold;
	color: white;
}

